@import "../../utils/styles/mixins.scss";
@import "../../utils/styles/colors.scss";
@import "../../utils/styles/global.scss";

$itemRadius: 5px;
$containerRadius: 10px;

.main-header {
  &__background img {
    width: 100%;
  }

  &__search {
    margin: 30px 0;
    display: flex;
    justify-content: center;
  }
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 10px;
  list-style: none;
  padding: 0;
  max-width: $maxContainerWidth;
  margin: 0 auto;

  &__container {
    border-radius: $containerRadius $containerRadius 0 0;
    margin-top: 50px;
    padding: 20px;
  }
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primaryColor;
  margin: 10px;
  border-radius: $itemRadius;
  transition: $transition;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: $transition;
  }

  &__image {
    width: 100%;
    img {
      width: 100%;
      border-radius: $itemRadius $itemRadius 0 0;
    }
  }

  &__name {
    font-size: 22px;
    margin: 10px 0 5px 0;
    word-wrap: break-word;
    text-align: center;
  }

  &__species {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}
