@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "utils/styles/colors.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: $fontColor;
  background-color: $backgroundColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}
